.weather_content{
    display: flex;
    padding: 20px 20px;
    .wea_siderbar{
        width: 20%;
        background-color: #fff;
        padding: 40px;
        border-top-left-radius: 26px;
        border-bottom-left-radius: 26px;
        .search_btn{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 26px;
            input[type="search"]{
                padding: 4px 0px;
                outline: none;
                border: none;
                &::placeholder{
                    color: #000;
                }
            }
        }
        .weather_seens{
            border-bottom: 1px solid #e9e9e9;
            h1{
                margin: 0;
                font-size: 58px;
                font-weight: 400;
            }
            p{
                font-weight: 400;
                span{
                    color:#bababa;
                }
            }
        }
        .wea_place{
            padding: 15px 0px;
            .row{
                display: flex;
                gap: 12px;
                padding: 8px 0px;
                span{
                    svg{
                        font-size: 24px;
                    }
                }
            }
            img{
                width: 100%;
                border-radius: 20px;
                height: 100px;
                margin-top: 20px;
            }
        }

    }
    .wea_content{
        width: 65%;
        background-color: #f7f6f9;
        padding: 40px;
        border-top-right-radius: 26px;
        border-bottom-right-radius: 26px;
        .tab_header{
            display: flex;
            justify-content: space-between;
            padding: 3px 0px;
            margin-bottom: 25px;
            .tabs{
                display: flex;
                gap: 16px;
                cursor: pointer;
            }
            .right_menu{
                display: flex;
                gap:16px;
                align-items: center;
                span{
                    img{
                        height: 38px;
                        width: 38px;
                        border-radius: 5px;
                    }
                }
                .cen{
                    background: #000;
                    color: #fff;
                    border-radius: 100%;
                    width: 20px;
                    height: 20px;
                    padding: 5px;
                }
                
            }
        }
    }
    .wea_card_grp , .today_highlight_grp{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .card{
            width: 13%;
            background: #fff;
            border-radius: 9px;
            text-align: center;
            svg{
                font-size: 48px;
                color: #e0b739;
            }
            .cloud_sun{
                svg{
                    color:gray;
                }
            }
        }
        .card_highlight{
            width: 23%;
            background-color: #fff;
            border-radius: 8px;
            margin: 10px 0px;
            padding: 10px 29px;
            .row{
                display: flex;
                align-items: center;
                padding: 7px 0px;
                p{
                    color: #000;
                }
                span{
                    color: gray;
                    font-size: 12px;
                }
                svg{
                    font-size: 25px;
                    color: #ffc922;
                    border: 2px solid #ffc511;
                    border-radius: 50%;
                }
            }
            p{
                color: #b0abab;
                margin: 0;
            }
            h2{
                margin: 8px 0px;
                font-size: 32px;
                font-weight: 400;
                span{
                    font-size: 16px;
                }
            }
            .effect{
                display: flex;
                padding: 10px 0px;
                .normal{
                    svg{
                        color: #e0b739;
                        font-size: 20px;
                        margin-left: 8px;
                    }
                }
                .unhelthy{
                    svg{
                        color: #efcdaf !important;
                        margin-left: 11px;
                    }
                }
            }
        }
    }
}

.active{
    border-bottom: 3px solid black;
    position: relative;
}

.mySwiper{
    display: flex;
    .card{
        width: 48%;
        background: #fff;
        text-align: center;
        padding: 0px 20px;
        border-radius: 7px;
        display: inline-block;
        margin: 5px;
        svg{
            font-size: 48px;
            color: #e0b739;
        }
        .cloud_sun{
            svg{
                color:gray;
            }
        }
    }
}